<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/styles/app.css">
    </head>
    <body>
      <header>
        <div class="container">
          <a href="/"><h1>500km.info - Radtour-Chronik</h1></a>
        </div>
      </header>
      <main>
        {{ content }}
      </main>
      <footer>
        <a href="/impressum">Impressum</a>
      </footer>
    </body>
</html>
