---
layout: default
---

<div class="images">
  <ul class="slides">
    {% for image in page.images %}
    <li>
      <img src="/{{ image }}" alt="" />
    </li>
    {% endfor %}
  </ul>
</div>

<div class="track">
  <div>
    {% if page.track_id %}
    <iframe src="http://www.bikemap.net/en/route/{{ page.track_id }}/widget/?width=290&amp;height=350&amp;unit=metric" height="350"></iframe>
    {% endif %}

    <p>{{ page.track }}</p>

    {% if page.track_id %}
    <p><a href="http://www.bikemap.net/de/route/{{ page.track_id }}">Tour auf bikemap.net ansehen</a></p>
    {% endif %}
  </div>
</div>

{% if page.description %}
<div class="description">
  <div>
    <p>{{ page.description }}</p>
  </div>
</div>
{% endif %}

