---
layout: default
---

<div class="images">
  <ul class="slides">
    {% for image in page.images %}
    <li>
      <img src="/{{ image }}" alt="" />
    </li>
    {% endfor %}
  </ul>
</div>

{% if page.description %}
<div class="description">
  <div>
    <p>{{ page.description }}</p>
  </div>
</div>
{% endif %}

<div class="track">
  <div>
    <iframe src="http://www.bikemap.net/en/route/{{ page.track_id }}/widget/?width=970&amp;height=570&amp;unit=metric" height="530" scrolling="no"></iframe>
    <p><a href="http://www.bikemap.net/de/route/{{ page.track_id }}">Tour auf bikemap.net ansehen</a></p>
  </div>
</div>

