---
---

@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700);
@import 'bourbon/bourbon';

$text-color: #333;
$spacing: 32px;
$image-width: 990px;

$small: 600px;
$middle: 950px;

body {
  background: #e5e5e5;
  color: $text-color;
  font-family: 'Istok Web', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #808080;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

.container {
  display: block;
  margin: 0 auto;
  max-width: $image-width + 2 * $spacing;
  @include box-sizing(border-box);
}

main,
footer {
  padding: $spacing;
  background: #fff;

  @media (max-width: 950px) {
    padding: $spacing / 2;
  }
}

header {
  vertical-align: bottom;
  background: #fff;
  margin-top: 64px;
  padding: 16px $spacing 0;

  a,
  h1 {
    display: inline-block;
  }

  h1 {
    color: $text-color;
    margin: 0 0 0 16px;
    font-size: 1.8em;
    line-height: 1em;
    .year {
      font-size: 0.6em;
    }
  }

  a {
    margin-top: -48px;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }

  @media (max-width: $small) {
    text-align: center;

    h1 {
      margin: 0;
      display: block;
    }
  }
}

main:after {
  clear: both;
  content: '';
  display: block;
}

footer {
  clear: both;
  margin-bottom: $spacing;
  font-size: 0.8em;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
  }

  li {
    display: inline;
    margin-left: 10px;
  }

  @media (max-width: $middle) {
    margin-bottom: 0;
  }
}

.tour {
  @include box-sizing(border-box);
  position: relative;
  transition: opacity 0.5s;
  width: 33.3%;
  padding: 8px;
  float: left;
  overflow: hidden;

  @media (max-width: 950px) {
    width: 50%;

    .year {
      left: 25px !important;
    }

    h1 {
      right: 25px !important;
    }
  }

  @media (max-width: $small) {
    width: 100%;
    font-size: 1em !important;
  }

  &:first-child {
    width: 66.6%;
    font-size: 1.5em;

    @media (max-width: $middle) {
      width: 99.9%;
    }
  }

  &:hover {
    .year {
      left: 25px;
    }
    h1 {
      right: 25px;
    }
  }

  img {
    float: left;
    width: 100%;
  }

  .year,
  h1 {
    background: #fff;
    color: $text-color;
    padding: 0 5px;
    position: absolute;
  }

  .year {
    top: 25px;
    left: -100%;
    transition: left 0.3s;
  }

  h1 {
    bottom: 10px;
    font-size: 1.2em;
    font-weight: 700;
    right: -100%;
    transition: right 0.3s;
    margin: 20px 0;
  }
}

.tour-overview {
  margin: -8px;

  &:hover {
    .tour {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.images {
  position: relative;

  &:hover {
    .flex-direction-nav {
      display: block;
    }
  }

  .slides {
    margin: 0;
    padding: 0;

    &:after {
      clear: both;
      content: '';
      display: block;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }

  .flex-control-nav {
    display: none;
  }

  .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;

    li {
      display: inline;
    }

    .flex-prev,
    .flex-next {
      @include hide-text;
      background-color: $text-color;
      background-position: center center;
      background-repeat: no-repeat;
      display: inline-block;
      height: 60px;
      margin-top: -30px;
      position: absolute;
      top: 50%;
      width: 40px;
      z-index: 10;
      &:hover {
        background-color: #1a1a1a;
      }
    }

    .flex-prev {
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiIHhtbG5zOmlua3NjYXBlPSJodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy9uYW1lc3BhY2VzL2lua3NjYXBlIiB3aWR0aD0iMjAiIGhlaWdodD0iNDAiIHZlcnNpb249IjEuMSI+CiA8bWV0YWRhdGEgaWQ9Im1ldGFkYXRhMzQ3MyIvPgogPGcgaW5rc2NhcGU6bGFiZWw9IkxheWVyIDEiIGlua3NjYXBlOmdyb3VwbW9kZT0ibGF5ZXIiIGlkPSJsYXllcjEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAsLTEwMTIuMzYyMikiPgogIDxnIHRyYW5zZm9ybT0ic2NhbGUoLTAuNjUzODAyMDYsMS41Mjk1MTQ5KSIgaWQ9InRleHQzNDg1IiBmaWxsPSIjMmIwMDAwIj4KICAgPHBhdGggZD0ibSAtMzAuNTkwMjk4LDY2Ni4yMjcyNiAwLC00LjM0Mjc3IDMwLjU5MDI5OTIzNDkzMzcsMTEuMDk1NTQgMCwzLjk2MSBMIC0zMC41OTAyOTgsNjg4LjAzNjU3IGwgMCwtNC4zNDI3NyAyNC41NzcyMjk1LC04LjcwOTQxIC0yNC41NzcyMjk1LC04Ljc1NzEzIiBpZD0icGF0aDM1MDkiIGZpbGw9IiNmZmZmZmYiLz4KICA8L2c+CiA8L2c+Cjwvc3ZnPgo=");
      left: -20px;
    }
    .flex-next {
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiIHhtbG5zOmlua3NjYXBlPSJodHRwOi8vd3d3Lmlua3NjYXBlLm9yZy9uYW1lc3BhY2VzL2lua3NjYXBlIiB3aWR0aD0iMjAiIGhlaWdodD0iNDAiIHZlcnNpb249IjEuMSI+CiA8bWV0YWRhdGEgaWQ9Im1ldGFkYXRhMzQ3MyIvPgogPGcgaW5rc2NhcGU6bGFiZWw9IkxheWVyIDEiIGlua3NjYXBlOmdyb3VwbW9kZT0ibGF5ZXIiIGlkPSJsYXllcjEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAsLTEwMTIuMzYyMikiPgogIDxnIHRyYW5zZm9ybT0ibWF0cml4KDAuNjUzODAyMDYsMCwwLDEuNTI5NTE0OSwxOS45OTk5OTksMCkiIGlkPSJ0ZXh0MzQ4NSIgZmlsbD0iIzJiMDAwMCI+CiAgIDxwYXRoIGQ9Im0gLTMwLjU5MDI5OCw2NjYuMjI3MjYgMCwtNC4zNDI3NyAzMC41OTAyOTkyMzQ5MzM3LDExLjA5NTU0IDAsMy45NjEgTCAtMzAuNTkwMjk4LDY4OC4wMzY1NyBsIDAsLTQuMzQyNzcgMjQuNTc3MjI5NSwtOC43MDk0MSAtMjQuNTc3MjI5NSwtOC43NTcxMyIgaWQ9InBhdGgzNTA5IiBpbmtzY2FwZTpjb25uZWN0b3ItY3VydmF0dXJlPSIwIiBmaWxsPSIjZmZmZmZmIi8+CiAgPC9nPgogPC9nPgo8L3N2Zz4K);
      right: -20px;
    }
  }
}

.track {
  iframe {
    @media (max-width: $small) {
      display: none;
    }
  }
}

.description,
.track {
  margin-top: $spacing;

  > div p {
    margin: 0;
  }
}

iframe {
  border: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}
