---
---

@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700);
@import 'bourbon/bourbon';

$text-color: #333;

body {
  background: #f2f2f2;
  color: $text-color;
  font-family: 'Istok Web', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #808080;
  text-decoration: none;
  &:hover {
    color: #4d4d4d;
  }
}

header .container,
main,
footer {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  background: #fff;
  height: 100px;
  box-shadow: 0 0 2px #ccc;
  margin-bottom: 30px;
  h1 {
    color: $text-color;
    margin: 0;
  }
}

main:after {
  clear: both;
  content: '';
  display: block;
}

footer {
  clear: both;
  margin-top: 30px;
}

.tour {
  position: relative;
  transition: opacity 0.5s;
  img {
    float: left;
    width: 100%;
  }
  .year,
  h1 {
    background: #fff;
    color: $text-color;
    padding: 0 5px;
    position: absolute;
  }
  .year {
    top: 25px;
    left: -100%;
    transition: left 0.3s;
  }
  h1 {
    bottom: 10px;
    font-size: 1.5em;
    font-weight: 700;
    right: -100%;
    transition: right 0.3s;
  }
  &:hover {
    .year {
      left: 25px;
    }
    h1 {
      right: 25px;
    }
  }
}

.tour-overview {
  &:hover {
    .tour {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.tour,
.images,
.description,
.track {
  @include box-sizing(border-box);
  display: inline-block;
  float: left;
  overflow: hidden;
  padding: 10px;
  width: 33%;
}

.tour img,
.images img {
  box-shadow: 0 0 2px #333;
}

.images {
  position: relative;
  width: 66%;
  &:hover {
    .flex-direction-nav {
      display: block;
    }
  }
  .slides {
    margin: 0;
    padding: 0;
    &:after {
      clear: both;
      content: '';
      display: block;
    }
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }
  .flex-control-nav {
    display: none;
  }
  .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    li {
      display: inline;
    }
    .flex-prev,
    .flex-next {
      @include hide-text;
      background: #f2f2f2;
      display: inline-block;
      height: 50px;
      margin-top: -25px;
      position: absolute;
      top: 50%;
      width: 50px;
      z-index: 10;
      &:hover {
        background: $text-color;
      }
    }
    .flex-prev {
      content: '<';
      left: 15px;
    }
    .flex-next {
      content: '>';
      right: 15px;
    }
  }
}

.description,
.track {
  width: 33%;
  a:before {
    content: '» ';
  }
}

.description > div {
  padding: 10px;
  background: #fff;
  p {
    margin: 0;
  }
}
